@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --defaultBlackContent: #444;
  --defaultBlackTitle: #222;
  --lightBlueBoba: #8383f4;
  --darkBlueBoba: #3f3ff5;
  --errorRed: #f9bbbb;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: var(--defaultBlackContent);
  max-width: 1040px;
  margin: 0 auto;
  padding: 1em;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: var(--lightBlueBoba);
}

button {
  border: 0;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  margin: 0.2em 0.2em;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.15s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow:
    0 7px 14px rgba(50, 50, 93, 0.1),
    0 3px 6px rgba(0, 0, 0, 0.08);
}

.button-active {
  background-color: var(--lightBlueBoba);
}

.shop-filters-container {
  display: flex;
  color: var(--lightBlueBoba);
}

.shop-item {
  display: flex;
  justify-content: space-between;
  border: #fff;
  box-shadow: 1px 1px 15px 1px #ecebeb;
  border-radius: 5px;
  margin: 2em auto;
  width: 650px;
}

.shop-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.shop-content {
  width: 60%;
  padding: 1em;
}

.shop-img {
  max-width: 70%;
}

.shop-name {
  color: var(--defaultBlackTitle);
  font-size: 24px;
  font-weight: bold;
}

.loading-pane {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 15px;
}

.loader {
  font-size: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.error {
  background-color: var(--errorRed);
  padding: 0.2em 1em 1em 1em;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  color: var(--defaultBlackTitle);
}
